# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.cursor/

# Laravel
backend/vendor/
backend/.env
backend/.env.backup
backend/.env.production
backend/storage/*.key
backend/public/storage
backend/public/hot
backend/public/build
backend/.phpunit.result.cache
backend/.phpunit.cache/
backend/auth.json

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/next-env.d.ts

# Docker
docker/mysql/data/

# Logs
*.log
